<md-sidenav-container>
  <md-sidenav mode="over" #sidenav opened>
    <md-slide-toggle (change)="dateFilter.isActive = !dateFilter.isActive; applyFilter()" labelPosition="before">
      Filter by date
    </md-slide-toggle>
    <br>
    <md-select placeholder="Select" [(ngModel)]="dateFilter.dateFilterType" [disabled]="!dateFilter.isActive" (change)="applyFilter()">
      <md-option *ngFor="let dateOption of dateOptions" [value]="dateOption.key">
        {{dateOption.value}}
      </md-option>
    </md-select>
    <br>
    <button md-raised-button class="example-fab" (click)="sidenav.close()">
    Close
  </button>
  </md-sidenav>
  <button *ngIf="!sidenav.opened" class="example-fab" (click)="sidenav.toggle()" md-raised-button>
    Filters
  </button>
  <div>
    <h2 class="total-amount-spent">You have spent  ₹{{totalSpent}}</h2>
    <md-list *ngFor="let group of groupedOrders">
      <h3 class="order-date" md-subheader>
        {{group.orders[0].date | date}} - ₹{{group.dateTotal}}
      </h3>
      <md-list-item *ngFor="let order of group.orders">
        <span class="order-time">{{order.date | date:'shortTime'}}</span>
        <p class="order-amount" md-line>₹{{order.amount}}</p>
        <p class="order-vendor" md-line>{{order.vendor}} </p>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
  </div>
</md-sidenav-container>
