.order-time{
  font-size: 12px;
  font-weight: lighter !important;
  width: 20%;
}

.order-amount{
  font-size: 20px !important;
  font-weight: 400 !important;
}

.order-vendor{
  font-weight: lighter !important;
}

.order-date{
  font-weight: bold !important;
  font-size: 20px !important;
}

.total-amount-spent{
  padding: 10px 16px;
  font-family: 'Roboto'
}
